.claude/launch.json
.claude/settings.local.json
talktrace_ai/__pycache__/__init__.cpython-313.pyc
talktrace_ai/__pycache__/app.cpython-313.pyc
talktrace_ai/__pycache__/myfuncs.cpython-313.pyc
talktrace_ai/config/__pycache__/config_manager.cpython-313.pyc
talktrace_ai/localization/__pycache__/translation.cpython-313.pyc
talktrace_ai/config/config.ini
talktrace_ai/config/.welcome_shown
talktrace_ai/history/
*.pkl
talktrace_ai/config/config.ini
