talktrace_ai.egg-info/dependency_links.txt
talktrace_ai.egg-info/entry_points.txt
talktrace_ai.egg-info/PKG-INFO
talktrace_ai.egg-info/SOURCES.txt
talktrace_ai.egg-info/top_level.txt
talktrace_ai/localization/__pycache__/translation.cpython-312.pyc
talktrace_ai/config/__pycache__/config_manager.cpython-312.pyc
talktrace_ai.egg-info/
.gitignore